@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.woff2') format('woff2'),
         url('../fonts/nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*reset*/
html{ margin-top: 0px !important; }
body{
  unicode-bidi: embed;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section, footer, article, header {
display : block;
}
.bold{font-weight: 700;
display: block;
width: 100%;
border-bottom: 1px solid #f1f1f1;
margin-bottom: 20px
}
ul{ list-style: none; }
a, h1, h2, h3, h4, h5, h6 {
font-family : 'nexa_boldregular';
text-decoration : none !important ;
margin : 0;
padding : 0;
font-weight : normal;
list-style : none;
}

div,a,img,li,button{
    transition: all 0.5s ease-out;
}

.second-header{ width: 100%; display: none; height: auto; padding: 10px 0px; background-color: #111; position: fixed; z-index: 999; top: 0px; left: 0px }
.second-header nav ul li a{ color: #fff; opacity: 0.8 }
.second-header nav ul li a:hover{ background:none; opacity: .5 }
.second-header nav ul li a:active{ background:none; opacity: .5 !important }
.second-header nav a{ color: #fff; background:none !important; padding-right: 20px; text-transform: uppercase; letter-spacing: 2px; font-family: 'nexa_boldregular'; }
.navbar-inverse .navbar-nav > li > a{color: #c5c5c5}
.navbar-nav{ margin: 0px auto; float: none !important;  }
.navbar-nav > li{ display: inline-block !important; float: none !important; }
.navbar-nav > li a{font-family: 'nexa_lightregular'; font-size: 13px; text-transform: uppercase; letter-spacing: 3px}
.banner{ height: auto; position: relative; background-image: url(../images/banner.jpg); background-size: cover; padding-bottom: 80px}
.header{ display: block; width: 100%; padding: 80px 0px 40px 0px; }
.main{ margin-top: 40px }
.navbar-inverse{ background:none; border:none; }
.second-logo{ float: left; padding: 10px 0px; font-size: 20px; color: #fff }
.second-logo img{height: 30px;
    width: auto;}
.second-logo i{ display: inline-block; padding-right: 5px }
.second-header ul{ float: right !important; }
.inner{ padding-top: 70px }
.inner ul li a{ padding: 8px 20px; margin: 0px }
.back{ border:2px solid #fff;}



.text h2{ font-size: 65px; color: #fff; font-family: 'nexa_boldregular'; text-transform: uppercase; letter-spacing: 8px;}
.text h2 span{font-family: 'nexa_lightregular';}
.text button{ border:none; margin-top: 45px; width: 180px; height: 48px; text-align: center; background-color: #f6931e; }
.text button a{color: #fff; font-size:12px; text-transform: uppercase; letter-spacing: 3px;  font-family: 'nexa_lightregular';}
.text button:hover{ opacity: 0.8;  }

/* Bubble Right */
.hvr-bubble-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f6931e;
}
.hvr-bubble-right:hover:before, .hvr-bubble-right:focus:before, .hvr-bubble-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/* Underline From Left */
.hvr-underline-from-left {
  disply: ainline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Bubble Bottom */
.hvr-bubble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #f6931e transparent transparent transparent;
}
.hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.brand-logo{ float: left; display: none; }
.brand-logo img{width: 35px; height: auto;}

.intro{ height:auto; background-color: #111; padding: 65px 0px; }
.intro h1{ font-size: 35px; letter-spacing: 3px;  font-family: 'nexa_lightregular'; color:#a6a6a6  }
.intro span{font-family: 'nexa_boldregular';}
.border{ width: 65px; height: 3px; background-color: #fff; margin: 20px 0px }
.intro p{ font-size: 13px; color:#fff; opacity: .3; line-height: 24px; padding-right: 20px;}
.intro img{ margin: 20px 0px; }

.what_we_do{height:auto; background-color: #fff; padding: 65px 0px;}
.what_we_do h1{font-size: 30px; letter-spacing: 3px; text-align: center;  font-family: 'nexa_lightregular'; color:#566270 }
.what_we_do span{font-family: 'nexa_boldregular';}
.what_we_do .border{ background-color: #ff9b59; margin: 20px 64px; }
.box{ width: 100%; min-height:260px; text-align: center; margin-bottom: 20px; position: relative; border:3px solid #dde0e2;}
.box i{ color: #ff9b59; margin-top: 70px; color: #ff9b59; display: block; }
.box h2{ font-size: 16px; text-transform: uppercase; line-height: 22px; padding-top: 40px; letter-spacing: 3px; color: #566270; font-family: 'nexa_lightregular'; }
.over{ background-color: #111; color: #fff; opacity: .0; position: absolute; z-index: 888; width: 100%; height: 100% }
.box .over:hover{opacity: 1; border:none;}
.box:hover{ border:none; border:3px solid #111;}
.box h3{ font-size: 16px; text-transform: uppercase; padding: 35px 0px 0px; letter-spacing: 4px; color: #fff; font-family: 'nexa_lightregular'; }
.box p{ display: block; padding: 15px; color: #fff; opacity: 0.4; font-size:13px; line-height: 25px }
.sec{ float: left; width: 100%; padding-top: 30px }

.creatives{height:auto; background-color: #f6f6f6; padding: 65px 0px;}
.creatives .border{ background-color: #ff9b59;  margin: 20px 10px; }
.creatives h1{font-size: 30px; letter-spacing: 3px; text-align: center;  font-family: 'nexa_lightregular'; color:#566270; text-transform: uppercase; }
.creatives span{font-family: 'nexa_boldregular';}

.work{ width: 100%; height: 250px; overflow: hidden; position: relative; margin-bottom: 10px }
.work-over{ width: 100%; height: 100%; text-align: center; position: absolute; z-index: 888; opacity: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,24466d+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(36,70,109,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(36,70,109,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(36,70,109,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a624466d',GradientType=0 ); /* IE6-9 */

 }
.work-over h4{  transition: all 0.5s ease-out; font-size: 14px;  font-family: 'nexa_lightregular'; letter-spacing: 3px; font-weight: normal; color: #fff; text-transform: uppercase; }
.work-over i{ padding: 95px 0px 20px 0px; font-size: 40px; color: #fff; }
.work .work-over:hover{opacity: 1}
.work-over:hover h4{padding-top: 10px;}
.work img{ width: 100%; height: auto; }
.creatives button{ border:none; margin-top: 10px; width: 180px; height: 48px; text-align: center; line-height: 48px; background-color: #f6931e; }
.creatives button a{color: #fff; font-size:12px; text-transform: uppercase; letter-spacing: 3px;  font-family: 'nexa_lightregular';}
.creatives button:hover{ opacity: 0.8;  }


.team{height:auto; background-color: #fff; padding: 65px 0px;}
.team .border{ background-color: #ff9b59;  margin: 20px 55px; }
.team h1{font-size: 30px; letter-spacing: 3px; text-align: center;  font-family: 'nexa_lightregular'; color:#566270; text-transform: uppercase; }
.team span{font-family: 'nexa_boldregular';}
.team .round{ width: 150px; height: 150px; overflow: hidden; border-radius: 160px; moz-border-radius:160px; border-radius:160px;
border:3px solid #dde0e2; }
.team .round img{ width: auto; height: 150px; }
.team h2{font-size: 18px; letter-spacing: 3px; padding: 20px 0px 5px; text-align: center;  font-family: 'nexa_boldregular'; color:#566270; text-transform: uppercase; }
.team strong{font-family: 'nexa_lightregular'; text-transform: uppercase; font-size: 14px; letter-spacing: 3px; opacity: 0.6}
.team p{font-size: 13px; letter-spacing: 3px; opacity: 0.6; text-align: center; display: block; width: 320px; text-align: center !important;}
.team-box{ margin-bottom: 20px }

.small{height:auto; background-repeat: no-repeat; background-size: cover; background-position: bottom; background-color: #fff; padding: 65px 0px; background-image: url(../images/bg.png); background-attachment: fixed;}
.small h1{font-size: 35px; letter-spacing: 3px; text-align: center;  font-family: 'nexa_lightregular'; color:#fff; text-transform: uppercase; }
.small span{font-family: 'nexa_boldregular'; display: block;}

footer{height:auto; background-color: #111; padding: 65px 0px;}
footer h1{font-size: 35px; letter-spacing: 3px; padding-bottom: 40px; text-align: center;  font-family: 'nexa_lightregular'; color:#fff; text-transform: uppercase; }
footer strong{font-family: 'nexa_boldregular';}
footer h2{font-size: 18px; letter-spacing: 3px; padding: 30px 0px 10px; text-align: center;  font-family: 'nexa_lightregular'; color:#fff; text-transform: uppercase; opacity: 0.4}
footer h2 span{font-family: 'nexa_boldregular';}
footer i{font-size: 14px; font-style: normal; letter-spacing: 3px; display: block; text-align: center;  font-family: 'nexa_lightregular'; color:#fff; text-transform: uppercase; opacity: 0.4}
.social i{ display:inline-block; width: 52px; height: 52px; border-radius: 160px; moz-border-radius:160px; webkit-border-radius:160px; border:2px solid #566270; line-height:50px;
font-size: 20px; color: #566270; text-align: center; margin-right: 8px; opacity: 1 }
.social{ padding: 20px 0px }
footer p{font-size: 12px; font-style: normal; letter-spacing: 3px; display: block; text-align: center;  font-family: 'nexa_lightregular'; color:#fff; text-transform: uppercase; opacity: 0.4}
.social i:hover{ color: #ff9b59; border:2px solid #ff9b59; }
.white{ color: #fff }

.detail{ background-color: #f6f6f6; padding: 65px 0px 65px 0px }
.detail-image{ width: 100%; height: auto; overflow: hidden; position: relative; background-color: #fff; }
.detail-image h1{display:none}
.detail-image h2{padding: 20px; text-transform: uppercase; color: #576371;  font-family: 'nexa_lightregular'; font-size: 30px; letter-spacing:3px;display: block;
    float: left;}
.detail-image h3{text-transform: uppercase;
    font-family: 'nexa_lightregular';
    font-size: 20px;
    letter-spacing: 3px;
    color: #576371; padding: 20px;display: block;
    float: left;}
.each-pic{ width: 100%; height: auto; padding: 0px 20px 20px 20px; }
.each-pic img{ width: 100%; height: auto; }



.detail-image img{ width: 100%; height: auto; }
.detail-overlay{ width: 100%; height: 100%; padding: 35px; position: absolute; z-index: 888;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,24466d+100&0+0,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(36,70,109,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(36,70,109,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(36,70,109,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a624466d',GradientType=0 ); /* IE6-9 */
 }

 .detail-overlay h1{ padding-top: 398px; color: #fff; text-transform: uppercase; font-family: 'nexa_lightregular'; font-size: 30px; letter-spacing:3px }
 .tags{ background: #fff; padding: 20px; min-height:500px; }
 .tags h2{text-transform: uppercase; font-family: 'nexa_lightregular'; font-size: 20px; letter-spacing:3px; color: #576371}
 .tags ul{ padding: 0px; margin-top: 15px; }
 .tags ul li{ display: inline-block; border:2px solid #eeeff0; margin: 3px; padding: 8px 15px; }
.tags ul li a{text-transform: uppercase; font-family: 'nexa_lightregular'; font-size: 13px; letter-spacing:3px; color: #576371 }
 .height{ height: 200px !important}}

#second{
display:none!important;
}